<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="/js/commom_css.js"></script>
    <script type="text/javascript" src="/js/commom_js.js"></script>
    <title>main</title>

</head>
<body>
<div id="main_app" class="container-fluid clear-margin clear-padding app"
     v-bind:style="{paddingTop:cPaddingHeight+'px'}">
    <div role="header" id="header" class="row clear-margin clear-padding header"
         v-bind:style="{marginTop:cMarginHeight+'px',height:facade.headerHeight+'px'}"></div>
    <div role="content" id="content" class="row clear-margin clear-padding content"
         v-bind:style="{paddingLeft:facade.contentLeftWidth+'px',backgroundColor:facade.contentBackColor}">
        <div role="content left" id="content_left" class="clear-padding clear-margin left" @mouseover="turnOnLeft"
             @mouseleave="turnOffLeft"
             v-bind:style="{backgroundColor:facade.contentLeftBackColor,width:facade.contentLeftWidth+'px',marginLeft:0-facade.contentLeftWidth+'px'}">

            <div role="user info" class="user-info">
                <span class="glyphicon glyphicon-user" aria-hidden="true" title="李小明"
                      style="padding:0 10px 15px 10px;"></span><span th:text="${username}"></span><br>
                <span class="glyphicon glyphicon-user" aria-hidden="true" title="人事部"
                      style="padding:0 10px 15px 10px;"></span>
                <span style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">xxxxx人事部</span><br>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="5条消息" @click="closeInfo"
                      style="padding:0 10px 15px 10px;"></span>5
                <span class="glyphicon glyphicon-cog" aria-hidden="true" title="设置"
                      style="padding:0 5px 15px 20px;"></span>
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" title="帮助"
                      style="padding:0 5px 15px 20px;"></span>
            </div>
            <div role="logo" class="logo" @click="addTab('home',-1,0)">
                <div style="margin: 0px 15px 5px -10px;border-top: 1px solid rgba(255,255,255,0.1);height:5px;">&nbsp;
                </div>
                LO<span style="color:orangered">GO</span>
                <div style="margin: 5px 15px 10px -10px;border-top: 1px solid rgba(255,255,255,0.1);height:5px;">
                    &nbsp;
                </div>
            </div>
            <div id="accordionMenu" style="margin:0;padding:0;width:180px;">
                <ul id="accordion" class="accordion">
                    <li v-for="(item,index) in mainMenu">
                        <div class="link" @click="trunSubMenu('link'+index)" :id="'link'+index">
                            <img :src="item.pic" width="20px" class="img-rounded" style="margin-right:10px;">
                            <div class="mark" role="img mark"></div>
                            <div style="margin-top:-20px;margin-left:30px;">{{item.name}}</div>
                        </div>
                        <ul class="submenu">
                            <li v-for="(subItem,itemIndex) in item.menu">
                                <a href="#" @click="addTab(subItem.name,index,itemIndex)">{{subItem.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div role="content right" id="content_right" class="clear-margin clear-padding right"
             v-bind:style="{backgroundColor:facade.contentRightBackColor}">
            <div role="content right row" class="row clear-padding clear-margin" style="padding:3px;">
                <div role="content work" id="content_work"
                     class="clear-padding clear-margin col-xs-12 col-sm-10 col-md-10 work"
                     v-bind:style="{backgroundColor:facade.contentRightWorkBackColor,width:workAreaWidth}">
                    <div class="row clear-padding clear-margin "
                         style="margin-left:-10px;height:40px;margin-top:-50px;">
                        <div id="content_label" class="col-xs-12" style="padding:5px 2px 0 7px;">
                            <ul class="nav nav-tabs" style="margin-left:0;padding-right:10px;">
                                <tab-label v-for="(item,index) in tabs" v-bind:index="index" :key="item.name"
                                           v-bind:name="item.name" :class="activeTab(index)"
                                           v-on:select-me="selectTab(index)"
                                           v-on:remove-tab="removeTab(index)"></tab-label>
                            </ul>
                        </div>
                    </div>
                    <div class="row clear-margin clear-padding">
                        <!--<div v-for="(item,index) in tabs" v-bind:id="'workDiv'+index" v-bind:key="item.name" style="width:100%;height:100%;" @click="loadPage('workDiv'+index,item.url)" :class="showDiv(index)"></div>-->
                        <work-div v-for="(item,index) in tabs" v-bind:name="item.name" :key="item.name"
                                  v-bind:txt="item.url"
                                  :class="showDiv(index)"></work-div>
                    </div>
                </div>
                <div role="content info" id="content_info" class="clear-margin col-sm-2 col-md-2  hidden-xs info"
                     v-bind:class="{hidePanel:workInfoArea}"
                     v-bind:style="{backgroundColor:facade.contentRightInfoBackColor}">
                    <div style="width:100%;display:block;padding-top:50px;" id="assistInfoAre1">
                        <div style="width:100%;height:46px;line-height:46px;padding:2px 10px 0 10px;margin-top:-50px;background: #eeeeee;"
                             align="right">
                            辅助信息<span class="glyphicon glyphicon-remove" @click="closeInfo"
                                      style="margin-left:15px;cursor: pointer;"></span>
                        </div>
                        <div style="width:100%;padding:0 10px 5px 5px;border:5px solid #eeeeee;background-color:white;overflow-y: auto;"
                             v-bind:style="{height:getInfoHeight+'px'}">
                            <ul>
                                <li v-for="info in operationInfo">{{info}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div role="footer" id="footer" class="row clear-margin clear-padding footer"
         v-bind:style="{height:facade.footerHeight+'px',backgroundColor: facade.footerBackColor}">footer
    </div>
</div>
<script th:inline="javascript">
    Vue.use(DOLPHIN_HTTP_TEMPLATE);
    Vue.component('tab-label', {
        props: ['index', 'name'],
        template: '<li style="padding-left:10px;"><a href="#"  @mouseover="showClose" @mouseleave="hideClose" @click="selectMe(index)" >{{name}}<button type="button" class="close closeBtn"  aria-label="Close"><span aria-hidden="true" @click="closeTab(index)" >&times;</span></button></a></li>',
        methods: {
            selectMe: function (index) {
                //console.log('selectMe' + index);
                this.$emit('select-me');
            },
            closeTab: function (index) {
                // console.log('closeTab' + index);
                this.$emit('remove-tab');
            },
            showClose: function (ele) {
                if (ele.target.childNodes.item(1)) {
                    ele.target.childNodes.item(1).style.display = "inline";
                }
            },
            hideClose: function (ele) {
                if (ele.target.childNodes.item(1)) {
                    ele.target.childNodes.item(1).style.display = "none";
                }
            }
        }
    })
    Vue.component('work-div', {
        props: ['name', 'txt'],
        template: '<div  v-bind:id="name"  style="width:100%;height:100%;"  ><iframe :src="txt" width="100%" height="100%"   scrolling="yes" style="border: 0;"></iframe></div>'
    });
    var mainApp = new Vue({
        el: '#main_app',
        data: {
            facade: {
                <!--各个区域的最小宽高度--><!--各个区域的颜色-->
                headerHeight: 7,
                footerHeight: 0,
                appBackColor: 'black',
                headerBackColor: '#000d2a',
                footerBackColor: '#333333',
                contentBackColor: '#000d2a',
                contentRightBackColor: '#ffffff',
                contentRightWorkBackColor: '#ffffff',
                contentRightInfoBackColor: '#eeeeee',
                contentLeftBackColor: '#000d2a',
                contentLeftWidth: 180,
                infoHeight: 500
            },
            bodyHeight:600,
            bodyWidth:800,
            active: '主页',
            tabs: [
                {name: '主页', active: true, url: '/html/welcome'}
            ],

            mainMenu: [],
            menuArea: true,
            workInfoArea: false,
            operationInfo: ['主页']
        },
        created: function(){

        },
        mounted: function () {
            console.log('mounted...........');
            this.ready();
            this.handleResize();
            let _self = this;
            let param = {};
            param.userId = /*[[${userId}]]*/;
            let maskLoad = Dolphin_Loading.create();
            maskLoad.loading();
            this.$http('get','/user/menu',param,this.operationInfo,function(resp){
                for (let i = 0; i < resp.data.length; i++) {
                    _self.mainMenu.push(resp.data[i]);
                }
                maskLoad.loading_close('body');

            },function () {
                //error

            },false);
        },
        computed: {
            cPaddingHeight: function () {
                return this.facade.headerHeight + this.facade.footerHeight;
            },
            cMarginHeight: function () {
                return (0 - this.facade.headerHeight - this.facade.footerHeight);
            },
            workAreaWidth: function () {
                if (this.workInfoArea) {
                    return '100%';
                }
            },
            getInfoHeight: function () {
                this.facade.infoHeight = this.bodyHeight - this.facade.headerHeight - this.facade.footerHeight - 50;
                return this.facade.infoHeight;
            }

        },
        methods: {
            ready: function () {
                window.addEventListener('resize', this.handleResize);

            },
            beforeDestroy: function () {
                window.removeEventListener('resize', this.handleResize)
            },
            handleResize: function () {
                this.bodyHeight = document.body.clientHeight;
                this.bodyWidth = document.body.clientWidth;

            },
            loadPage: function (id, url) {
                let tag = $('#' + id);
                tag.load(url, function () {
                    tag.fadeIn(100);
                });
            },

            turnOnLeft: function () {
                // this.facade.contentLeftWidth = 180;
            },
            turnOffLeft: function () {
                //   this.facade.contentLeftWidth = 10;
            },
            selectTab: function (index) {//选择已存在的
                console.log(this.tabs.length + '-------' + index);
                if (this.tabs.length > 0) {
                    for (var i = 0; i < this.tabs.length; i++) {
                        this.tabs[i].active = false;
                    }
                    if (this.tabs.length <= index + 1) {
                        index = this.tabs.length - 1;
                    }
                    var item = this.tabs[index];
                    this.active = item.name;
                    this.tabs[index].active = true;
                }
            },
            addTab: function (name, index, itemIndex) {//激活已存在的或为存在的
                for (var i = 0; i < this.tabs.length; i++) {
                    if (this.tabs[i].name === name) {
                        this.selectTab(i);
                        return;
                    }
                }
                if (index == -1) {
                    this.tabs.push({name: name, active: false, url: 'welcome.html'})
                } else {
                    var _menu = this.mainMenu[index].menu[itemIndex].url;
                    this.tabs.push({name: name, active: false, url: _menu});
                }
                this.selectTab(this.tabs.length - 1);
            },
            removeTab: function (index) {
                if (this.tabs.length > index) {
                    this.tabs.splice(index, 1);
                    if (this.tabs && this.tabs.length > 0) {
                        if (index == 0) {
                            this.selectTab(0);
                        } else {
                            this.selectTab(index - 1);
                        }
                    }
                }
            },
            activeTab: function (index) { //激活标签样式
                //console.log('activeTab--' + index);
                return {active: this.tabs[index].active};
            },
            showDiv: function (index) { //显示业务页面
                if (this.tabs.length > 0) {
                    return {hidePanel: this.tabs[index].active ? false : true};
                }
            },
            closeInfo: function () {
                if (this.workInfoArea == false) {
                    this.workInfoArea = true;
                } else {
                    this.workInfoArea = false;
                }
            },
            trunSubMenu: function (id) {
                var link = $('#' + id);
                if (link.hasClass('open') == false) {
                    link.addClass("open");
                }
                link.parent().siblings('li').children('div').siblings('ul').slideUp("300");
                link.parent().siblings('li').children('div').removeClass('open');
                link.siblings('ul').slideToggle("300");

            }
        }
    });

</script>
</body>
</html>