<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/accordion-menu.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>UI-3</title>
    <style>
    </style>
</head>
<body>
    <div style=";width:400px;height:400px;">
        <table class="table table-hover">
            <thead><th>title</th><th>name</th><th>year</th></thead>
            <tbody>
                <tr>
                    <td>你好</td><td>abc</td><td>2018</td>
                </tr>
                <tr>
                    <td>hello</td><td>vvv</td><td>2017</td>
                </tr>
                <tr>
                    <td>How are you</td><td>kkkk</td><td>2016</td>
                </tr>
                <tr>
                    <td>Hi</td><td>oooo</td><td>2015</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>