<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vue导航菜单</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/dolphin/mask-load/css/mask-load.css" />
    <style>
        .abc{
            border:2px solid green;
        }
    </style>
</head>
<body>

<div id="app" style="padding-left:20px;">
    <div id="myChart" style="width:500px;height:400px;">

    </div>
<p th:text="${session.csrf_token}"></p>
    <button @click="test">变化图形</button>
    <button @click="init_post()">初始POST请求</button>
    <button @click="add">post请求</button>&nbsp;结果：{{info}}
    <div id="test" style="width:200px;height:200px;border: 1px solid #ddd;"></div>
</div>

<script src="/lib/jquery-3.3.1.min.js"></script>
<script src="/lib/vue/vue.js"></script>
<script src="/lib/dolphin/http-template/js/http-template.js"></script>
<script src="/lib/dolphin/mask-load/js/mask-load.js"></script>


<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>

<script th:inline="javascript">

    Vue.use(DOLPHIN_HTTP_TEMPLATE);
    let app =new Vue({
        el: "#app",
        data:{
            testChart:null,
            msg:'VUE',
            csrfToken: /*[[${session.csrf_token}]]*/,
            add_param:{},
            info:''
    },
        mounted:function(){
            // 基于准备好的dom，初始化echarts图表
            this.testChart = echarts.init(document.getElementById('myChart'));

            let option = {
                tooltip: {
                    show: true
                },
                legend: {
                    data:['销量']
                },
                xAxis : [
                    {
                        type : 'category',
                        data : ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        "name":"销量",
                        "type":"bar",
                        "data":[5, 20, 40, 10, 10, 20]
                    }
                ]
            };

            // 为echarts对象加载数据
            this.testChart.setOption(option);
        },
        methods:{
            init_post:function(){
              //  this.add_param =this.$postInit('/add',this.csrfToken);
            },
            add:function(){

                if(this.add_param.id==undefined){
                    this.add_param.id=1;
                }else{
                    this.add_param.id ++
                }
                if(this.add_param.csrf_token==undefined){
                    this.add_param.csrf_token=this.csrfToken;
                }
                let maskLoad = Dolphin_Loading.create();
                maskLoad.loading('test',3);
                this.$http('post','/add',this.add_param,this.info,function(data){
                    //success
                    console.log(data);
                    maskLoad.loading_close('test');
                },function () {
                    //error

                },false);

            },
            test:function(){
                let k = this.testChart.getSeries();
                console.log(k[0].data);
                let nn = [
                    {
                        "name":"销售金额",
                        "type":"bar",
                        "data":[15, 30, 60, 30, 50, 10]
                    }
                ];
                this.testChart.setSeries(nn);
            }
        }
    });

</script>
</body>
</html>