<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vue导航菜单</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
        .abc{
            border:2px solid green;
        }
    </style>
</head>
<body>
<p th:text="${session.csrf_token}">token</p>
<div id="app" >
    <div id="myChart" style="width:300px;height:300px;">

    </div>

    <button @click="test">变化</button>
</div>
<button onclick="init_post()">init</button>
<button onclick="post()">add</button>
<script src="/lib/jquery-3.3.1.min.js"></script>
<script src="/lib/vue/vue.js"></script>
<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>

<script th:inline="javascript">
    var id=0;
    var resubmit_key;
    var resubmit_token;
    var csrf_token = /*[[${session.csrf_token}]]*/;
    var param ={
        id:1,
        csrf_token: csrf_token,
        path:'/add'
    };
    function init_post(){
        var pa =param;
        $.get({url:'/init_post',async:false,data:pa,success:function (data,textStatus,request) {
            console.log(data);
            if(data.code==0) {
                    var key = request.getResponseHeader('resubmit_key');
                    var resubmit_token = request.getResponseHeader(key);
                    console.log(key, resubmit_token);
                    var p = "pa." + key + "='" + resubmit_token + "'";
                    eval(p);
                    p="pa.resubmit_key='"+key+"'";
                    eval(p);
                }
        }});


    }
    function post(){

        $.post({url:'/add',
            data:param,
            success:function (data,textStatus,request) {
                console.log(data);
                if(data.code==0) {
                    var key = request.getResponseHeader('resubmit_key');
                    var resubmit_token = request.getResponseHeader(key);
                    console.log(key, resubmit_token);
                    id++;
                    var p = "param." + key + "='" + resubmit_token + "'";

                    console.log(p);
                    eval(p);
                    p = "param.resubmit_key='" + key + "'";
                    eval(p);
                }
            }});
    }
    var app =new Vue({
        el: "#app",
        data:{
            testChart:null,
            msg:'VUE'
        },
        mounted:function(){
            // 基于准备好的dom，初始化echarts图表
            this.testChart = echarts.init(document.getElementById('myChart'));

            var option = {
                tooltip: {
                    show: true
                },
                legend: {
                    data:['销量']
                },
                xAxis : [
                    {
                        type : 'category',
                        data : ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        "name":"销量",
                        "type":"bar",
                        "data":[5, 20, 40, 10, 10, 20]
                    }
                ]
            };

            // 为echarts对象加载数据
            this.testChart.setOption(option);
        },
        methods:{
            test:function(){
                var k = this.testChart.getSeries();
                console.log(k[0].data);
                var nn = [
                    {
                        "name":"销售金额",
                        "type":"bar",
                        "data":[15, 30, 60, 30, 50, 10]
                    }
                ]
                this.testChart.setSeries(nn);
            }
        }
    });

</script>
</body>
</html>