<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue导航菜单</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
        .abc{
            border:2px solid green;
        }
    </style>
</head>
<body>

<div id="app" style="height:100%;width:100%;background-color: #1b6d85;">
    <div style="width:100%;height:600px;background-color: red;">
        <iframe src="welcome.html" width="100%" height="100%"></iframe>
    </div>
</div>
<script src="/lib/vue/vue.js"></script>
<script>

</script>
</body>
</html>