<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <style>
        html, body {
            padding:0;
            margin:0;
            height: 100%;
        }
        .open{
            background-color: #D9C666;
        }
        .link:hover{
            background-color: #D9C666;
        }
        .link:hover div{
            color:red;
            background-color: rgba(0,0,0,0);
            display:none;
        }

    </style>
</head>
<body style="">
    <div  style="height:100%;width:100%;padding:20px;">

            <h1>Welcome!</h1>

    </div>
<script>
    function test(e){
        console.log(e.target);
        if (e.target.hasClass('open')==false){
            e.target.addClass('open');
        }
    }
</script>
</body >
</html>